{{>header}}
{{>navbar}}
    <section class="home" id="home">
        <div class="max-width">
            <div class="main-home">
                <h2>WELCOME TO MEDI_CAPS UNIVERSITY</h2>
                {{!-- <p>{{>res.body.username}}</p> --}}
            </div>
        </div>
    </section>
</body>
</html>