<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/055c8a01fc.js" crossorigin="anonymous"></script>
    <style>
        body{
            background:url('bg_login.png');
        }
    </style>
</head>
<body>
    <nav>
        <div class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">register</a></li>
                <li><a href="">personal info</a></li>
                <li><a href="">result</a></li>

            </ul>
        </div>
    </nav>
    <section class="login" id="login">
     
<div class="max-width-login">
  
    <div class="form-b">
        <i class="fa-solid fa-user" style="font-size: 80px; margin-top: 23px; margin-left: 164px;"></i>
   
    <form action="/login" method="post" class="form-login">
  
    <div class="text">
    <label for="">Email </label>
    <input type="text" name="email" ><br>
    <label for="password">Password</label>
    <input type="password" name="password" id=""><br></div>
    <input type="submit" value="Login" id="login-btn"><br>
    <p class="newa"><a href="/register"> create a new account</a></p></div></form>
  

</div>


    </section>
</body>
</html>
