{{>header}}
{{>navbar}}

  <style>
        body{
           background: url('bgg.png');
        }
    </style>
<body>
 
    <form action="/register" method="post" class="form">
        <label>enrollment-no:</label> <input type="text" name="enrollment_no" id="" class="form_data"><br>
        <label>firstname:</label> <input type="text" name="firstname" id="" class="form_data">
        <label>lastname:</label> <input type="text" name="lastname" id="" class="form_data"></div><br>
        <label>email: </label> <input type="email" name="email" id="" class="form_data"><br>
        <label>course:</label> <input type="text" name="course" class="form_data"><br>
        <label>Year of graduation :</label> <input type="text" name=" Year_of_graduation" id="" class="form_data"><br>
        <div class="password"><label> password :</label> <input type="password" name="password" id="" class="form_data"><br>
        <label>confirm password: </label> <input type="password" name="c_password" id="" class="form_data"><br></div>
     <input type="submit" value="Register" id="button"><br>

    </form>
</body>

</html>