<nav class="sticky">
        <div class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">register</a></li>
                <li><a href="">personal info</a></li>
                <li><a href="">result</a></li>

            </ul>
        </div>

    </nav>